.feedback-container {
    position: relative;
    min-width: 255px;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}

.feedback-container p {
    margin: 0;
    font-size:15px;
}

th.column-status {
    width:120px;
}

.column-screenshot {
    width:160px;
}
.column-status span {
    display: inline-block;
    padding:10px;
    font-weight: bold;
    text-align: center;
    width: 90%;
    color:#fff;
}

.column-status span.open {
    background-color: grey;
}
.column-status span.review {
    background-color: purple;
}
.column-status span.in_progress {
    background-color: orange ;
    color:#000;

}.column-status span.closed {
    background-color: green;
}

.feedback-container .screenshot {
    text-align: center;
}
.feedback-container .inside {
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
}

.browser-info .label {
    font-weight: bold;
    display: inline-block;
    width:90px;
}

